.grid-container{
    display:grid;
    grid-template-columns: 700px 400px;
    grid-auto-rows: minmax(150px,auto);
    grid-gap:50px;
    width:80%;
    margin:auto;
}
.grid-item-1{
    grid-column: span 1;
    margin-top: 50px;
    margin-left:50px
}
.grid-item-2{
    grid-column: span 1;
    margin-top: 40px;
    margin-left: 100px;
    position:fixed;
    right:120px;
    top:120px
}
.dropdown-container{
    width: 43%;
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
}
.dropdown-label{
    color:rgb(24, 24, 24)
}
.suggestion-images{
    width:220px;
    height:270px;
    margin:6px
}
.icons{
    margin-left: 87px;
}


