.page{
    width: 50%;
    margin-left: 320px;
    margin-right: 380px;
    text-align: center;
    margin-top: 25px;
    
}
.radio{
    margin-left: 100px;
    margin-top: 20px;
}

.form-question{
    color:black;
    margin-bottom: 25px;
    width: 300px;
}

.first-button{
    padding: 10px 80px 10px 80px;
    background-color: white;
    border-style: outset;
    border-color: black;
}
.buttons{
    padding: 10px 50px 10px 50px;
    margin:4px;
    background-color: white;
    border-style: outset;
    border-color: black;
    
}
.buttons-div{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
}



